<%= form_with(model: fees_structure, local: true) do |form| %>
  <% if fees_structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fees_structure.errors.count, "error") %> prohibited this fees_structure from being saved:</h2>

      <ul>
      <% fees_structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :program %>
    <%= form.text_field :program %>
  </div>

  <div class="field">
    <%= form.label :session %>
    <%= form.text_field :session %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :feesinfo %>
    <%= form.text_field :feesinfo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
