<div class="row">
  <div class="col-sm-9">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <%= image_tag( 'crl2.jpg',  :class => "img-fluid") %>
        </div>
        <div class="carousel-item text-center">
         <%= image_tag( 'crl1.jpg',  :class => "img-fluid") %>
       </div>
       <div class="carousel-item text-center">
         <%= image_tag( 'crl3.jpg',  :class => "img-fluid") %>
       </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-sm-3 side-menu bg-primary" >
    <div class="quick-links">
      <div class="table-responsive ">
        <table class="table quick-links-tab">
          <tr>
            <td>
              <h5 class="text-center" style="font-weight: bold">Quick Links</h5>
            </td>
          </tr> 
          <tr>
            <td class="imp-links">
              <a href="http://www.rgpv.ac.in" target="_blank">RGPV</a>
            </td>
          </tr>
          <tr>
            <td class="imp-links">
              <a href="http://www.dtempcounselling.org" target="_blank">DTE MP</a>
            </td>
          </tr>
          <tr>
            <td class="imp-links">
              <a href="http://www.scholarshipportal.mp.nic.in" target="_blank" >Scholarship</a>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
<section id="index-more-section">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-md-3 col-sm-6 about">
          <div class="more-content">
          <div id="about">
            <%= link_to root_path do %>
            <%= image_tag( 'bg1.jpg', :class => "img-fluid") %>
            <div class="more-content-text">
              <h4>About UIT</h4>
            </div>
            <% end %>
          </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 campus-life">
          <div class="more-content">
          <div id="campus-life">
            <%= link_to root_path do %>
            <%= image_tag( 'bg3.jpg', :class => "img-fluid") %>
            <div class="more-content-text">
              <h4>Campus life</h4>
            </div>
            <% end %>
          </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 gallery">
          <div class="more-content">
          <div id="gallery">
            <%= link_to root_path do %>
            <%= image_tag( 'crl1.jpg', :class => "img-fluid") %>
              <div class="more-content-text">
              <h4>Gallery</h4>
            </div>
            <% end %>
          </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 principle-desk">
          <div class="more-content">
           <div id="principle-desk">
            <%= link_to root_path do %>
            <%= image_tag( 'bg2.jpg', :class => "img-fluid") %>
            <div class="more-content-text">
              <h4>principle Message</h4>
            </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

