<section style="margin: 15px 5px;">
<div>
	<div class="sidenav">
		<div class="sidenav-link">
			<%= link_to "About Institute", home_aboutUs_path, class: 'btn btn-primary'%>
		</div>
		<div class="sidenav-link">
			<%= link_to "Vision and Mission", home_visionAndMission_path, class: 'btn btn-primary'%>
		</div>
		<div class="sidenav-link">
			<%= link_to "Principal Message", home_principalMassege_path, class: 'btn btn-primary'%>
		</div>
		<div class="sidenav-link">
			<%= link_to "Administration", home_administration_path, class: 'btn btn-primary'%>
		</div>
		<div class="sidenav-link">
			<%= link_to "Committee", home_committee_path, class: 'btn btn-primary'%>
		</div>
	</div>
</div>
</section>
<style type="text/css">
	


</style>